html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
 
 #title{
    background-color: #255C99; 
    color: aliceblue; 
    text-align: center;
 }

 #currentScheduled{
    background-color:#255C99; 
    color: aliceblue; 
    text-align: center;
 }

 #addTrainTitle{
    background-color:#255C99; 
    color: aliceblue; 
    text-align: center;
 }

 .btn-primary{
     margin-top: 20px;
 }

 footer{
    background-color: #70CAD1; 
    color: aliceblue; 
    text-align: center;
    padding: 20px;

 }

 header{
    background-color: #70CAD1; 
    color: aliceblue; 
    text-align: center;
    padding: 20px;
 }

 p{
     font-size: 16px;;
 }

 #trainScheluded{
     font-size: 20px;
 }

 #confirmation{
     margin:15px;
 }

