html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
 
 #title{
    background-color: #BA5624; 
    color: aliceblue; 
    text-align: center;
 }

 #currentScheduled{
    background-color:#BA5624; 
    color: aliceblue; 
    text-align: center;
 }

 #trainScheluded{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
 }

 #addTrainTitle{
    background-color:#BA5624; 
    color: aliceblue; 
    text-align: center;
 }

 .btn-primary{
     margin-top: 20px;
 }

 footer header{
    background-color: #70CAD1; 
    color: aliceblue; 
    text-align: center;
 }

 p{
     font-size: 24px;
 }

